body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: #615f5f;
  font-size: 26px;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #696969;
  font-size: 15px;
  font-weight: bold;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.coded-by {
  text-align: center;
  margin: 0 auto;
}
